.episode-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  .episode-chars {
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    display: flex;
  }
}
