.episodes-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #0468ff,
    #0096ff,
    #00b8ff,
    #00d4ee,
    #12ebd3
  );
  color: #fff;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 200px;
  min-width: 200px;
  min-height: 250px;
  max-height: 250px;
}
