.header {
  margin: 1rem;
  min-height: 3rem;
  border-radius: 1rem;
  filter: drop-shadow(2px 2px 3px lightgrey);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 123, 255);
  width: 98%;
  padding: 0.5rem 1rem;
}

.navigation {
  list-style: none;
  gap: 2rem;
  display: inline-flex;

  li {
    cursor: pointer;
    font-size: medium;
    font-weight: normal;
    text-transform: none;

    &:hover {
      color: rgb(0, 80, 165);
    }
  }
}
