.wrapper__sidebar {
  text-align: center;
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    padding: 1rem;
  }
}
